@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

:root{
    --bg-colar: #021526;
    --primary-colar: #03346E;
    --secondary-colar: #6EACDA;
    --font: "Edu AU VIC WA NT Dots", cursive;
}

body{
    background-color:var(--bg-colar);
    color:  var(--secondary-colar);
font-family: var(--font);
height: 100vh;
margin: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

h1 {
    font-size: 2rem;
    color: var(--bg-colar);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--bg-color);
     margin: 0 2rem 1rem 0rem;
     font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}