@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

:root{
    --bg-colar: #021526;
    --primary-colar: #03346E;
    --secondary-colar: #6EACDA;
    --font: "Edu AU VIC WA NT Dots", cursive;

}